.header {
  background-color: #fff;
  padding: 10px 0; /*Padding is 10 px on top and bottom and 0 on left and right*/
  /*Steps to center logo*/
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}
